.nav{
    max-height: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.nav-items>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-logo>a{
    text-align: center;
}

.nav-logo figure{
    margin: 0;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
}

