main{
    width: 100%;
    padding: 0;
    margin:0;
}

p{
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
}

a:hover{
    box-shadow: none;
    outline: 0;
}

li{
    list-style: none;
}

figure{
    margin:0;
}

section{
    padding-bottom: 3rem;
}

.visually-hidden{
    display: none;
}