$primary-color-light: #fff;
$primary-color-dark: #000;

$secondary-color: #fa4616;

$bg-dark: #000;

$gradient-from: #fa4616;
$gradient-to: #2b0096;

// font size
$text-sm: 1rem;
$text-base: 1.2rem;
$text-md: 1.4rem;
$text-lg: 1.6rem;
$text-xl: 2rem;
$text-xxl: 2.4rem;

$hedaing-sm: 2.8rem;
$heading-base: 3.2rem;
$heading-md: 4rem;
$heading-lg: 6.4rem;

// font weight
$text-heavy: 700;
$text-baseweight: 600;

$gap-sm: 1.4rem;
$gap-base: 1.6rem;

// screen
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 987px;
$xl-screen: 1280px;
